html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title landing page
    link(rel="stylesheet", href="css/landing_page.css")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC", rel="stylesheet")
  body
    .bg_block
      include images/bg_block.svg
    .band
      include images/band.svg
      .content_box      
        h1 Welcome to ImaginaryFriendsLiteratureClub
        p 它總是把我們帶回到遊戲的起點，而且從不枯燥。
    #magic_cube
      include ./images/magic_cube.svg
    img(src="images/hand_bottom.svg", frameborder="0" ,id="hand_right_down")
    img(src="images/hand_left.svg", frameborder="0" ,id="hand_left")
    img(src="images/hand_top.svg", frameborder="0" ,id="hand_right_top")
